 body {
background-color:#14c2f7;

border: 10px solid #737373;
filter: contrast(130%);
font-family: trebuchet ms, arial;
}
h1{
  color:#
  border: 5px solid #000000;
}

img {
  width: 125px;
  height: 125px;
}

game-frame {
display:block;
 align:center;
 display: flex;

}

.games-div{
align: center;
}
