 body {
background-image: url("images/bg.png");
border: 10px solid #737373;
background-color: #cccccc;
color: #2B0C0C;
filter: contrast(130%);
font-family: trebuchet ms, arial;
}
h1{
  color:#362120
  border: 5px solid #000000;
}

img {
  width: 125px;
  height: 125px;
}
