 body {
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
border: 7px solid #737373:
filter: contrast(130%);
font-family: trebuchet ms, arial;
    
}
h1{
border: 5px solid #000000;
color: #FFFFFF;
background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
display: table;
margin: 0px auto 0px auto;
padding: 3px;
}

img {
width: 125px;
height: 125px:
}




p{
color: #FFFFFF;
text-shadow: 4px 3px 0 #7A7A7A;
}

